# Python Programming: Stratified Sampling Exercise

## Example

We are going to use the example we looked at in the overview. Our dataset is comprised of different heights of Moringa School students. It has 10,000 entries whereby 60% are female and 40% are Male. We are going to perform stratified sampling on this population so that we can get a sample of 1000 students which has the same proportion as the population.

**Import relevant Libraries**

In [ ]:
import pandas as pd

**Load the Dataset**

Here is the dataset we are going to use in this example.[Dataset Download](https://drive.google.com/file/d/1ODcSRSs_isRKCAShFwnMrXdcphed9kYn/view?usp=sharing)

In [ ]:
# Load the data into a panda dataframe
data= pd.read_csv('/content/Gender_heights.csv')

# Check out the data
data

     gender         ht
0         F  55.398043
1         F  64.975468
2         F  70.591667
3         F  63.574479
4         F  62.535298
...     ...        ...
9995      M  91.485240
9996      M  94.842755
9997      M  98.096696
9998      M  91.478957
9999      M  88.849197

[10000 rows x 2 columns]

In [ ]:
# Now we will confirm how many Female students and Male students are there in our dataset.
# To achieve this we will use pandas .value_count() method. This method outputs the number of times a value appears in a column.
data['gender'].value_counts()

F    6000
M    4000
Name: gender, dtype: int64

Now that we have confirmed that our popluation follows the correct proportion, we are going to first create a random sample of 1000 students without stratification just to see how it behaves.

In [ ]:
# To create a random sample from a dataframe we use the pandas sample method. You can read more about it here.https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html
# We pass in an argument called frac which symbolises the fraction of the population we want to use as our sample

# Non stratified sample
non_strat_output = data.sample(frac=0.1) 

# check the proportion of the non_stratified sample
print(non_strat_output['gender'].value_counts())

F    603
M    397
Name: gender, dtype: int64

Run the code several times, taking note of the proportion of Female and Male. What do you notice?

When you run it several time, you'll notice that the proportion varies each time. Although it ranges closely to our desired proportion, its not quite the 60-40 proportion we want. To remedy it, this is where stratified sampling comes in handy.

Let's us create a stratified random sample and see how it behaves

In [ ]:

# To create a stratified random sample we'll use pandas groupBy method. Basically what the method does is that it splits our dataset into sets
# and then applies a function on each subset.
# In our case, we are going to applies a function that puts each subset into a random sample with a size of 100.
# The beauty about this method is that it strictly maintains the populations proportion.

# Stratified sample
strat_output = data.groupby('gender', group_keys=False).apply(lambda grouped_subset : grouped_subset.sample(frac=0.1))

# proportion of the non_stratified sample
print(strat_output['gender'].value_counts())

# Check the stratified output
print(strat_output)

F    600
M    400
Name: gender, dtype: int64
     gender         ht
2409      F  58.500482
1717      F  55.551748
205       F  62.543561
5501      F  59.837870
4379      F  60.737839
...     ...        ...
6786      M  93.458558
6643      M  90.523722
9193      M  93.152542
6964      M  87.893548
9034      M  84.545255

[1000 rows x 2 columns]

## <font color="green">Challenges</font>

In [ ]:
# Challenge 1
# ---
# Question: Moringa school is doing an analysis on how the students perform based on the different programmes that they offer.
# Given a dataset of 10000 students and you are told that 50% are Core students, 25% are Prep students and 25% are Pre-prep students. 
# Also in the dataset, 60% of the students are Female and the rest are Male. 
# You are tasked with creating a stratified random sample that represents that population.
# ---
# Dataset Source = https://drive.google.com/file/d/10THQj3iqund_D5tgypBdeKoc2FZ9pC0S/view?usp=sharing
# ---
# 
moringa = pd.read_csv("/content/Moringa_Students_heights.csv")
#Read the dataset
moringa.head()

  programme gender         ht
0      Prep      F  57.861539
1      Prep      F  65.550765
2      Core      F  52.142763
3  Pre-prep      F  69.453854
4  Pre-prep      F  54.203258

In [ ]:
#stratified random sample for gender
# Non stratified sample
moringa_non_strat = moringa.sample(frac=0.1) 

# check the proportion of the non_stratified sample
print(moringa_non_strat ['gender'].value_counts())

F    590
M    410
Name: gender, dtype: int64

In [ ]:
# Stratified sample
moringa_strat_output = moringa.groupby('gender', group_keys=False).apply(lambda grouped_subset : grouped_subset.sample(frac=0.1))

# proportion of the non_stratified sample
print(strat_output['gender'].value_counts())

# Check the stratified output
print(moringa_strat_output)

F    600
M    400
Name: gender, dtype: int64
     programme gender         ht
4916  Pre-prep      F  56.008021
1596      Core      F  58.146749
4017      Prep      F  64.135726
2874      Core      F  65.073657
5103      Core      F  59.400427
...        ...    ...        ...
6140      Core      M  82.936626
6098      Prep      M  92.015177
7893      Prep      M  80.819414
9775  Pre-prep      M  92.218049
9951      Core      M  92.630599

[1000 rows x 3 columns]

In [ ]:
# Stratified sample
moringa_strat_output = moringa.groupby('gender', group_keys=False).apply(lambda grouped_subset : grouped_subset.sample(frac=0.1))

# proportion of the non_stratified sample
print(strat_output['gender'].value_counts())

# Check the stratified output
print(moringa_strat_output)

In [ ]:
#stratified random sample for gender
# Non stratified sample
non_strat_output = moringa.sample(frac=0.1) 

# check the proportion of the non_stratified sample
# print(non_strat_output['programme'].value_counts())

# Stratified sample
moringa_strat_output = moringa.groupby('programme', group_keys=False).apply(lambda grouped_subset : grouped_subset.sample(frac=0.1))

# proportion of the non_stratified sample
print(moringa_strat_output['programme'].value_counts())

# Check the stratified output
print(moringa_strat_output)

Core        500
Pre-prep    250
Prep        250
Name: programme, dtype: int64
     programme gender         ht
517       Core      F  53.286721
6355      Core      M  96.692083
2733      Core      F  60.378129
6172      Core      M  88.620882
3033      Core      F  69.078829
...        ...    ...        ...
230       Prep      F  60.189741
3876      Prep      F  59.704889
8285      Prep      M  88.584322
5515      Prep      F  59.059555
9829      Prep      M  83.196538

[1000 rows x 3 columns]

In [ ]:
# Challenge 2
# ---
# Question: A wine company would like to perform some analysis on a variety of new red wines. 
# Select a stratified sample based on wine quality from the given dataset.
# ---
# Dataset url = http://bit.ly/RedWinesDataset
# ---
# 
Redwine = pd.read_csv("http://bit.ly/RedWinesDataset")
Redwine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [ ]:
#getting the value count of quality
Redwine['quality'].value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [ ]:
# Non stratified sample
Redwine_non_stra = Redwine.sample(frac=0.1) 

# check the proportion of the non_stratified sample
print(Redwine_non_stra['quality'].value_counts())

# Stratified sample
Redwine_strat_output = Redwine.groupby('quality', group_keys=False).apply(lambda grouped_subset : grouped_subset.sample(frac=0.1))

# proportion of the non_stratified sample
print(Redwine_strat_output['quality'].value_counts())

# Check the stratified output

5    71
6    62
7    19
4     6
8     2
Name: quality, dtype: int64
5    68
6    64
7    20
4     5
8     2
3     1
Name: quality, dtype: int64
      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
899             8.3             1.020         0.02             3.4      0.084
1176            6.5             0.880         0.03             5.6      0.079
224             8.4             0.635         0.36             2.0      0.089
647             8.3             0.845         0.01             2.2      0.070
1233           10.2             0.230         0.37             2.2      0.057
...             ...               ...          ...             ...        ...
538            12.9             0.350         0.49             5.8      0.066
978             7.0             0.400         0.32             3.6      0.061
902             7.4             0.635         0.10             2.4      0.080
1061            9.1             0.400         0.50             1.8      0.071
440            12.6             0.310         0.72             2.2      0.072

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
899                   6.0                  11.0  0.99892  3.48       0.49
1176                 23.0                  47.0  0.99572  3.58       0.50
224                  15.0                  55.0  0.99745  3.31       0.57
647                   5.0                  14.0  0.99670  3.32       0.58
1233                 14.0                  36.0  0.99614  3.23       0.49
...                   ...                   ...      ...   ...        ...
538                   5.0                  35.0  1.00140  3.20       0.66
978                   9.0                  29.0  0.99416  3.28       0.49
902                  16.0                  33.0  0.99736  3.58       0.69
1061                  7.0                  16.0  0.99462  3.21       0.69
440                   6.0                  29.0  0.99870  2.88       0.82

      alcohol  quality
899      11.0        3
1176     11.2        4
224      10.4        4
647      11.0        4
1233      9.3        4
...       ...      ...
538      12.0        7
978      11.3        7
902      10.8        7
1061     12.5        8
440       9.8        8

[160 rows x 12 columns]

In [ ]:
# Challenge 3
# ---
# Question: You have been provided with a list of employees of a certain company with some details about their gender (male/female) 
# and their type of employment (full-time/part-time). The HR team wants to conduct a survey on the working condition 
# that will be representative of the general opinion without interviewing every employee. 
# They request you conduct stratified sampling before any analysis is done. 
# ---
# Dataset url = http://bit.ly/StratifiedEmployeeDataset
# ---
# Hint: Perform EDA first
# ---
#

Employee = pd.read_excel("/content/employee dataset.xls")
Employee.head()